body {
    margin: 0;
    padding: 15%;
    font-family: 'Segoe UI', sans-serif;
    background: #e0e0e0;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .register-container {
    background-color: #f9f8f4;
    padding: 40px 40px;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    width: 65%;
    max-width: 400px;
  }
  h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #a94b00;
  }
  label {
    display: block;
    margin-bottom: 8px;
    color: #a94b00;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 90%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #a94b00;
    background-color: #fffbfb;
    color: #a94b00;
    margin-bottom: 20px;
    outline: none;
  }
  input::placeholder {
    color: #999;
  }
  .checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .checkbox-group input {
    margin-right: 10px;
    accent-color: #e5be99d3;
  }
  .checkbox-group label {
    margin: 0;
  }
  button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background: #a94b00 ;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
  }
  button:hover {
    background: #a8220360 ;
    transform: scale(0.95);
  }
  .divider-wrapper {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  border: none;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  padding: 24px 0 0;
  align-items: center;
  justify-content: center;
  width: 400px;
  vertical-align: baseline;
  }
  .divider-wrapper:before, .divider-wrapper:after {
  content: "";
  border-bottom: 1px solid #fff;
  flex: 1 0 auto;
  height: .5em;
  margin: 0;
  }
  .divider {
  text-align: center;
  flex: .2 0 auto;
  margin: 0;
  height: 12px;
  }
.social-section{
 width: 20px;
 height: 20px;
 padding: 24px 0 0;
 display: inline-block;
 padding: auto;
 }
.social-logo{
 width: 20px;
 height: 20px;
 display: inline-block;
 }
.social-logo-wrapper {
 position: absolute;
 left: 26px;
 top: 50%;
 transform: translate(-50%) translateY(-50%);
 display: flex;
 align-items: center;
 }
.social-text {
 text-align: left;
 position: relative;
 }
 .social-btn {
 padding: 0 8px 0 52px;
 }
.social-btn {
 position: relative;
 width: 400px;
 border: 0px;
 border-radius: 6px;
 font-size: 16px;
 align-items: center;
 background-color: #a94b00;
 height: 52px;
 transition: box-shadow .15 ease-in-out,background-color .15s ease-in-out;
 cursor: pointer;
 color: #fff;
 margin-bottom: 8px;
 display: flex;
 outline: 0;
 }